*{
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f8f8f8;
}

a{
  text-decoration: none;
  color: #363853;
}

header{
  margin-top: 54px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10%;
  justify-content: center;
}

header a{
  font-size: 24px;
}

header .pick-text{
  color: #FF6838;
}

header .urls{
  display: flex;
  align-items: center;
  gap: 79px;
  
}

header .urls>a{
  text-wrap: nowrap;
}

header button{
  cursor: pointer;
  width: 160px;
  height: 67px;
  background-color: #FF7A50;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 29px 53px rgba(255, 104, 56, 0.19);
  color: white;
  font-size: 24px;
}

.hello-screen{
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 140px;
}

.hello-screen-column{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hello-screen .big-text{
  font-weight: 500;
  color: #363853;
  font-size: 88px;
  width: 707px;
}

.hello-screen .big-text>span{
  font-weight: 500;
  color: #FF7A50;
  font-size: 88px;
}

.hello-screen .small-text{
  width: 684px;
  font-size: 27px;
  color: #363853;
  margin-top: 31px;
  margin-bottom: 60px;
}

.hello-screen button{
  cursor: pointer;
  width: 217px;
  height: 67px;
  background-color: #FF7A50;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 29px 53px rgba(255, 104, 56, 0.19);
  color: white;
  font-size: 24px;
}

.hello-screen-column div{
  width: auto;
  display: flex;
  align-items: center;
  gap: 40px;
}

.hello-screen div>a{
  text-decoration: underline;
  color: #363853;
  font-size: 27px;
}

.food-picker{
  margin-top: 126px;
  margin-bottom: 116px;
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  flex-direction: column;
}

.food-picker .head-text{
  color: #363853;
  font-weight: 500;
  font-size: 48px;
}

.food-picker .head-text>span{
  color: #FF7A50;
  font-weight: 500;
  font-size: 48px;
}

.food-buttons{
  display: flex;
  margin-top: 74px;
  margin-bottom: 52px;
  justify-content: center;
  width: 100%;
  gap: 35px;
}

.food-buttons button:first-child{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 15%;
  height: 93px;
  border: none;
  border-radius: 11px;
  background-color: #FF7A50;
  color: white;
  font-size: 26px;
}

.food-buttons button{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 15%;
  height: 93px;
  border: none;
  border-radius: 11px;
  background-color: white;
  color: #363853;
  font-size: 26px;
}

.food-item-slider{
  display: flex;
  gap: 35px;
}

.food-item-slider div{
  display: flex;
  border-radius: 15px;
  width: 266px;
  height: 357px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}

.food-item-slider img{
  margin-bottom: 35px;
}

.food-item-slider .name{
  font-size: 19px;
  margin-bottom: 12px;
}

.food-item-slider .price{
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 14px;
}

.food-item-slider button{
  cursor: pointer;
  width: 135px;
  height: 41px;
  border: none;
  border-radius: 3px;
  background-color: #FF7A50;
  color: white;
  font-size: 19px;
  
}

.food-slider{
  margin-top: 53px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.food-slider img{
  cursor: pointer;
}


.food-slider .num-of-slide{
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.food-slider .num-of-slide>div{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(54, 56, 83, 0.2);
}

#picked-slide{
  background-color: #FF7A50;
}

.food-delivery{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.delivery-info{
  display: flex;
  flex-direction: column;
}

.delivery-info .head-text{
  margin-top: 146px;
  width: 491px;
  font-size: 46px;
  font-weight: 500;
  color: #363853;
}

.delivery-info .head-text>span{
  color: #FF7A50;
  font-weight: 500; 
}

.delivery-info .about-text{
  margin-top: 38px;
  width: 573px;
  font-size: 26px;
  color: #363853;
  margin-bottom: 5px;
}

.delivery-info .row-info-delivery{
  display: flex;
  gap: 33px;
  align-items: center;
  margin-top: 28px;
}

.delivery-info .row-info-delivery>p{
  font-size: 31px;
  color: #363853;
}

.delivery-info .button{
  width: 225px;
  height: 74px;
  margin-top: 63px;
  cursor: pointer;
  background-color: transparent;
}

.delivery-info button{
  font-size: 26px;
  color: white;
  box-shadow: 0px 29px 53px rgba(255, 104, 56, 0.19);
  border: none;
  margin-top: 63px;
  background-color: #FF7A50;
  width: 225px;
  height: 74px;
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-left-radius: 39px;
}

.top-rest{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 55px;
}

.top-rest .head-text{
  font-size: 46px;
  font-weight: 500;
  color: #363853;
  margin-bottom: 13px;
}

.top-rest .head-text>span{
  color: #FF7A50;
}

.food-cards{
  display: flex;
  justify-content: center;
  gap: 55px;
  width: 100%;
}

.food-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 533px;
  border-top-left-radius: 68px;
  border-bottom-right-radius: 68px;
  border-top-right-radius: 25px;
  background-color: white;
}

.food-card .pizza-1{
  width: 100%;
  height: 382px;
  background-image: url("assets/img/pizza-1.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.food-card .pizza-2{
  width: 100%;
  height: 382px;
  background-image: url("assets/img/pizza-2.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.food-card .pizza-3{
  width: 100%;
  height: 382px;
  background-image: url("assets/img/pizza-3.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.food-card .burger-1{
  width: 100%;
  height: 382px;
  background-image: url("assets/img/burger-1.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.food-card .burger-2{
  width: 100%;
  height: 382px;
  background-image: url("assets/img/burger-2.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.food-card .burger-3{
  width: 100%;
  height: 382px;
  background-image: url("assets/img/burger-3.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.food-card .name-card{
  font-size: 31px;
  color: #363853;
  width: 90%;
  margin-top: 25px;
}

.food-card .time-button{
  display: flex;
  justify-content: space-between;  
  width: 90%;
  margin-top: 8px;
}

.food-card .time-button>p{
  display: flex;
  align-items: center;
  gap: 10px;
}

.food-card .time-button>p>span{
  font-size: 23px;
  color: #363853;
  font-weight: 100;
}

.food-card .time-button>button{
  width: 101px;
  height: 42px;
  background-color: #FF7A50;
  border: none;
  cursor: pointer;
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-left-radius: 39px;
  box-shadow: 0px 29px 53px rgba(255, 104, 56, 0.19);
}

.download-app{
  display: flex;
  margin-top: 211px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.download-app .text-box{
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.download-app .text-box>.head-text{
  font-size: 46px;
  font-weight: 500;
  color: #363853;
}

.download-app .text-box>.head-text>span{
  font-weight: 500;
  color: #FF7A50;
}

.download-app .text-box>.main-text{
  width: 687px;
  font-size: 26px;
  color: #363853;
}

.reviews{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 213px;
  width: 100%;
}

.reviews .head-text{
  font-size: 46px;
  color: #363853;
  font-weight: 500;
}

.reviews .head-text>span{
  color: #FF7A50;
  font-weight: 500;
}

.reviews-row{
  display: flex;
  gap: 87px;
  width: 100%;
  justify-content: center;
  padding-left: 40px;
}

.reviews-column{
  display: flex;
  flex-direction: column;
}

.reviews-column .comment{
  width: 90%;
  line-height: 58px;
  letter-spacing: 0.65px;
  font-size: 26px;
  color: #363853;
  margin-left: 36px;
}

.reviews-column .apost1{
  position: relative;
  top: 105px;
  right: 15px;
  font-family: "Nunito", sans-serif;
  font-size: 102px;
  color: #DDDDDD;
}

.reviews-column .apost2{
  position: relative;
  transform: scaleX(-1);
  display: flex;
  bottom: 40px;
  left: 90%;
  width: 80px;
  font-family: "Nunito", sans-serif;
  font-size: 102px;
  color: #DDDDDD;
  justify-content: flex-end; 
}

.reviews-column .author{
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding: 0px 50px;
}

.reviews-column .author>.slider-item :first-child{
  color: #FF7A50;
  font-size: 26px;
  font-weight: 500;
}

.reviews-column .author>.slider-item{
  color: #AAAAAA;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reviews-column .author>.slider-button{
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.subscribe{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FF7A50;
  border-radius: 25px;
  width: 76%;
  margin-top: 158px;
  padding-top: 75px;
  padding-bottom: 72px;
}

.subscribe .head-text{
  font-size: 51px;
  font-weight: 500;
  color: white;
}

.subscribe .main-text{
  font-size: 21px;
  color: white;
  margin-top: 15px;
  margin-bottom: 40px;
}

.subscribe .input-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 100px;
  border-radius: 90px;
  background-color: white;
}

.subscribe > .input-box > input{
  border: none;
  height: 40px;
  width: 60%;
  font-size: 23px;
}

.subscribe > .input-box > button{
  border: none;
  border-radius: 89px;
  background-color: #FF7A50;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 244px;
  gap: 10px;
  font-size: 26px;
  color: white;
}

.subscribe > .input-box > input::placeholder{
  font-size: 23px;
}

footer{
  width: 100%;
  padding-top: 156px;
}

.top-footer{
  display: flex;
  gap: 126.5px;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 32px;
  border-bottom: solid 1px #969696;
}

footer button{
  border: none;
  border-radius: 50%;
  padding: 11px 14px;
  background-color: #EEEEEF;
}

.top-footer > .mini-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.socials-buttons{
  display: flex;
  gap: 17px;
}

.about-site-buttons{
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-top: 18px;
}

.about-site-buttons p{
  font-size: 23px;
  letter-spacing: 0.1px;
  color: #37383D;
}

.footer-head-text{
  font-weight: 500;
}

.mini-info p{
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: 'DM Sans', serif;
  font-size: 20px;
}

.bottom-footer{
  display: flex;
  align-items: center;
  gap: 848px;
  padding-top: 33px;
  padding-bottom: 46px;
  justify-content: center;
}

.bottom-footer p{
  color: #646464;
}